# 2. Data_Manipulation_Case_Study - 22

## Case Study

### Domain 
- HR

### Focus 
- Insights from data

### Business challenge/requirement
- SFO Public Department - referred to as SFO has captured all the salary data of its employees from year 2011-2014. Now we are in year 2015 and the organization is facing some financial crisis. As first step HR wants to rationalize employee cost to save payroll budget. You have to do data manipulation and analysis on the salary data to answer specific questions for cost savings.

### Key issues
- Cost can be saved by figuring out the key pockets of high salaries

### Data volume
- Approx 150K records across files

### Business benefits
- Save at least 10% of employee cost by identifying and letting them go

### Approach to Solve
- You have to use fundamentals of Pandas and answer following 5 Questions

### Import Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load Data

In [2]:
os.chdir('C:\\Users\\ankit\\OneDrive\\Documents\\Desktop\\data science\\Top Mentor Lecture\\24_Day_31_7_21\\Case Studies with Answer\\CS 22 Ans -Data Maniputations-2')
salary = pd.read_csv('Salaries.csv', low_memory = False)

### 1.Compute how much total salary cost has increased from year 2011 to 2014

### Data check

In [3]:
salary.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148648 entries, 0 to 148647
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148648 non-null  int64
 1   EmployeeName      148648 non-null  object
 2   JobTitle          148648 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148648 non-null  float64
 5   OtherPay          148648 non-null  float64
 6   Benefits          112490 non-null  float64
 7   TotalPay          148648 non-null  float64
 8   TotalPayBenefits  148648 non-null  float64
 9   Year              148648 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148648 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [5]:
salary.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148648.000000,148043.000000,148648.000000,148648.000000,112490.000000,148648.000000,148648.000000,148648.000000,0.0
mean,74326.110220,66325.398119,5065.821161,3648.761721,25007.777439,74770.035453,93694.776345,2012.522617,NaN
std,42911.633315,42764.898947,11454.266982,8056.655841,15402.235424,50516.440633,62792.743250,1.117526,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN
25%,37163.750000,33587.350000,0.000000,0.000000,11535.192500,36169.370000,44072.062500,2012.000000,NaN
50%,74326.500000,65007.450000,0.000000,811.205000,28628.365000,71427.130000,92406.020000,2013.000000,NaN
75%,111488.250000,94691.050000,4657.597500,4236.035000,35566.790000,105840.920000,132876.997500,2014.000000,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN

### Total Salary by Year

In [6]:
sum_year = salary.groupby('Year').sum()['TotalPayBenefits']
sum_year

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

### Salary Cost Increased form year 2011 to 2014

In [7]:
year_2011 = salary[salary['Year'] == 2011]
year_2014 = salary[salary['Year'] == 2014]

mean_year = salary.groupby('Year').mean()['TotalPayBenefits']
print(mean_year,'\n')

mean_year_2011 = year_2011.groupby('Year').mean()['TotalPayBenefits']
print(mean_year_2011)
mean_2011 = year_2011['TotalPayBenefits'].mean()
print('mean salary for year 2011 - ',mean_2011,'\n')

mean_year_2014 = year_2014.groupby('Year').mean()['TotalPayBenefits']
print(mean_year_2014)
mean_2014 = year_2014['TotalPayBenefits'].mean()
print('mean salary for year 2014 - ',mean_2014,'\n')

cost_incresed = mean_2014 - mean_2011
print('cost increased from Year 2011 to 2014 is -',cost_incresed )

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

Year
2011    71743.819645
Name: TotalPayBenefits, dtype: float64
mean salary for year 2011 -  71743.81964489314

Year
2014    100261.438668
Name: TotalPayBenefits, dtype: float64
mean salary for year 2014 -  100261.43866838035

cost increased from Year 2011 to 2014 is - 28517.619023487205

### 2.Which Job Title in Year 2014 has highest mean salary?

In [8]:
salary[salary['Year'] == 2014].head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110529,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110530,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110531,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110532,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110533,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT

In [9]:
high_mean_title = salary.groupby(['Year', 'JobTitle']).mean()['TotalPayBenefits']
high_mean_title

Year  JobTitle
2011  ACCOUNT CLERK                      44035.664337
      ACCOUNTANT                         47429.268000
      ACCOUNTANT INTERN                  29031.742917
      ACUPUNCTURIST                      67594.400000
      ADMINISTRATIVE ANALYST             63954.867527
                                            ...
2014  Wire Rope Cable Maint Sprv        228338.090000
      Worker's Comp Supervisor 1         76964.451667
      Worker's Compensation Adjuster     97213.493846
      X-Ray Laboratory Aide              68754.120000
      Youth Comm Advisor                 52011.190000
Name: TotalPayBenefits, Length: 4136, dtype: float64

In [10]:
year_2014 = salary[salary['Year'] == 2014]
high_mean_title = year_2014.groupby(['Year', 'JobTitle']).mean()['TotalPayBenefits'].head()
high_mean_title

Year  JobTitle
2014  ACPO,JuvP, Juv Prob (SFERS)     80266.370000
      ASR Senior Office Specialist    87522.792727
      ASR-Office Assistant            66817.296000
      Account Clerk                   55223.166129
      Accountant I                    64178.330000
Name: TotalPayBenefits, dtype: float64

### 3. How much money could have been saved in Year 2014 by stopping OverTimePay?

In [11]:
over_time_pay_year = salary.groupby('Year').sum()['OvertimePay']
over_time_pay_year

Year
2011    1.638191e+08
2012    1.846650e+08
2013    1.986214e+08
2014    2.059186e+08
Name: OvertimePay, dtype: float64

In [12]:
year_2014 = salary[salary['Year'] == 2014]
over_time_pay_year = year_2014.groupby('Year').sum()['OvertimePay']
over_time_pay_year

Year
2014    2.059186e+08
Name: OvertimePay, dtype: float64

### 4.Which are the top 5 common job in Year 2014 and how much do they cost SFO?

In [13]:
top_job_title = salary[salary['Year'] == 2014]['JobTitle'].value_counts().head(5)
top_job_title

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

In [14]:
year_2014 = salary[salary['Year'] == 2014]
top_job_title = year_2014['JobTitle'].value_counts().head()
top_job_title

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

### Calculate Cost

In [15]:
sum_cost = 0
for index, value in top_job_title.iteritems():
    print(index, value)
    sum_cost += sum(salary[(salary['Year'] == 2014) & (salary['JobTitle'] == index)]['TotalPayBenefits'])
print('Total Coat of Top 5 jobs in Year 2014', sum_cost)

Transit Operator 2479
Special Nurse 1478
Registered Nurse 1234
Public Svc Aide-Public Works 916
Firefighter 815
Total Coat of Top 5 jobs in Year 2014 610269227.6600003

### 5.Who was the top earning employee across all the years?

In [16]:
top_sal = salary.groupby('EmployeeName').sum()['TotalPayBenefits']
top_sal.sort_values(axis = 0, ascending = False).head()

EmployeeName
Kevin Lee       1778487.17
Steven Lee      1706550.76
William Wong    1459954.17
Stanley Lee     1457279.68
Richard Lee     1268668.84
Name: TotalPayBenefits, dtype: float64

## Additional Questions 

### You can try these enhancements in code

### 1.	Which are the last 5 common job in Year 2014 and how much do they cost SFO?

In [17]:
last_job_titel = salary[salary['Year'] == 2014]['JobTitle'].value_counts().tail()
last_job_titel

Forensic Toxicologist Supervis    1
ACPO,JuvP, Juv Prob (SFERS)       1
Pr Investigator, Tax Collector    1
Arborist Technician Supv II       1
Asst Dir, Log Cabin Rnch          1
Name: JobTitle, dtype: int64

### 2.	In year 2014 OverTimePay was what percentage of TotalPayBenefits

In [18]:
year_2014 = salary[salary['Year'] == 2014]
over_time_pay_sum = year_2014['OvertimePay'].sum()
print('over time pay in 2014 - ',over_time_pay_sum, '\n') 

total_pay_benefit_sum = year_2014['TotalPayBenefits'].sum()
print('total pay benifit in 2014 - ',total_pay_benefit_sum,'\n')

percentage = (over_time_pay_sum/total_pay_benefit_sum) * 100
print('The over time pay percentage in 2014 of total pay benefites is - ', percentage,'%')

over time pay in 2014 -  205918599.26999998

total pay benifit in 2014 -  3821865780.6

The over time pay percentage in 2014 of total pay benefites is -  5.387907663195659 %

In [19]:
year_2014 = salary[salary['Year'] == 2014]
over_time_pay_mean = year_2014['OvertimePay'].mean()
print('over time pay in 2014 - ',over_time_pay_mean, '\n') 

total_pay_benefit_mean = year_2014['TotalPayBenefits'].mean()
print('total pay benifit in 2014 - ',total_pay_benefit_mean,'\n')

percentage = (over_time_pay_mean/total_pay_benefit_mean) * 100
print('The over time pay percentage in 2014 of total pay benefites is - ', percentage,'%')

over time pay in 2014 -  5401.993737243912

total pay benifit in 2014 -  100261.43866838035

The over time pay percentage in 2014 of total pay benefites is -  5.387907663195691 %

### 3.	Which Job Title in Year 2014 has lowest mean salary?

In [20]:
year_2014 = salary[salary['Year'] == 2014]
low_mean_title = year_2014.groupby(['Year', 'JobTitle']).mean()['TotalPayBenefits'].tail()
low_mean_title

Year  JobTitle
2014  Wire Rope Cable Maint Sprv        228338.090000
      Worker's Comp Supervisor 1         76964.451667
      Worker's Compensation Adjuster     97213.493846
      X-Ray Laboratory Aide              68754.120000
      Youth Comm Advisor                 52011.190000
Name: TotalPayBenefits, dtype: float64